.Editor {
    line-height: 1em;
    font-family: monospace;
}

.Editor-scroll {
    overflow: auto;
    height: 100%;
    position: relative;
}

.Editor-gutter {
    position: absolute; left: 0; top: 0;
    z-index: 10;
    background-color: #f7f7f7;
    border-right: 1px solid #eee;
    min-width: 2em;
    height: 100%;
}
.Editor-gutter-text {
    color: #aaa;
    text-align: right;
    padding: .4em .2em .4em .4em;
    white-space: pre !important;
}
.Editor-lines {
    padding: .4em;
}

.Editor pre {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    border-width: 0; margin: 0; padding: 0; background: transparent;
    font-family: inherit;
    font-size: inherit;
    padding: 0; margin: 0;
    white-space: pre;
    word-wrap: normal;
}

.Editor-wrap pre {
    word-wrap: break-word;
    white-space: pre-wrap;
}
.Editor-wrap .Editor-scroll {
    overflow-x: hidden;
}

.Editor textarea {
    outline: none !important;
}

.Editor pre.Editor-cursor {
    z-index: 10;
    position: absolute;
    visibility: hidden;
    border-left: 1px solid black;
    border-right:none;
    width:0;
}
.Editor pre.Editor-cursor.Editor-overwrite {}
.Editor-focused pre.Editor-cursor {
    visibility: visible;
}

div.Editor-selected { background: #d9d9d9; }
.Editor-focused div.Editor-selected { background: #d7d4f0; }

.Editor-searching {
    background: #ffa;
    background: rgba(255, 255, 0, .4);
}

/* Default theme */

.nex-s-default span.nex-keyword {color: #708;}
.nex-s-default span.nex-atom {color: #219;}
.nex-s-default span.nex-number {color: #164;}
.nex-s-default span.nex-def {color: #00f;}
.nex-s-default span.nex-variable {color: black;}
.nex-s-default span.nex-variable-2 {color: #05a;}
.nex-s-default span.nex-variable-3 {color: #085;}
.nex-s-default span.nex-property {color: black;}
.nex-s-default span.nex-operator {color: black;}
.nex-s-default span.nex-comment {color: #a50;}
.nex-s-default span.nex-string {color: #a11;}
.nex-s-default span.nex-string-2 {color: #f50;}
.nex-s-default span.nex-meta {color: #555;}
.nex-s-default span.nex-error {color: #f00;}
.nex-s-default span.nex-qualifier {color: #555;}
.nex-s-default span.nex-builtin {color: #30a;}
.nex-s-default span.nex-bracket {color: #cc7;}
.nex-s-default span.nex-tag {color: #170;}
.nex-s-default span.nex-attribute {color: #00c;}
.nex-s-default span.nex-header {color: #a0a;}
.nex-s-default span.nex-quote {color: #090;}
.nex-s-default span.nex-hr {color: #999;}
.nex-s-default span.nex-link {color: #00c;}

span.nex-header, span.nex-strong {font-weight: bold;}
span.nex-em {font-style: italic;}
span.nex-emstrong {font-style: italic; font-weight: bold;}
span.nex-link {text-decoration: underline;}

div.Editor span.Editor-matchingbracket {color: #0f0;}
div.Editor span.Editor-nonmatchingbracket {color: #f22;}
