/*
	JavaScript
	Liveweave.com
	16-July-2012
	Copyright 2012, Amit Sen
	support@liveweave.com
*/

@charset "utf-8";

@font-face { font-family: 'Bebas';
    src: url('../fonts/Bebas.eot');
    src: url('../fonts/Bebas.eot') format('embedded-opentype'),
    url('../fonts/Bebas.ttf') format('truetype');
}

@font-face { font-family: 'Segoe';
    src: url('../fonts/segoeui.eot');
    src: url('../fonts/segoeui.eot') format('embedded-opentype'),
    url('../fonts/segoeui.ttf') format('truetype');
}

* 			{ margin:0; padding:0; font-size: 100%; }
body		{	font-family: Segoe, Arial, Helvetica, sans-serif; font-size: 13px; }
iframe 	{ width: 49.9%;position: absolute;	top:55px;left:50%;height: 88%; border: 1px solid #ccc; border-left:1px solid #fff; border-bottom:1px solid #fff;overflow:auto;	}
select { padding: 3px 4px 3px 4px; border: 1px solid #ccc; font-family: Arial, Helvetica, sans-serif;  font-size: 13px; color:#006699; border: 1px solid #006699;}

ul#header-menu { list-style-type: none; position: absolute; top:10px;left: 25px; font-family:Segoe, Arial, sans-serif; font-size: 30px;}
ul#header-menu li { display:inline; }

#js-menu	{ z-index: 999; position: absolute; top:-9px;left: 600px; width:160px; height:60px;}
#layout-menu	{ z-index: 999; position: absolute; top:-9px;left: 790px; width:160px; height:60px;}

#header-menu a:link, #header-menu a:visited  { text-decoration: none; color: #fff; font-size: 12px; font-weight: bold; }
#header-menu a:hover, #header-menu a:active  { opacity:0.4; filter:Alpha(opacity=40); /* IE8 and earlier */}

.pos-header	{ position: relative; top:-12px; }
.field-shadow { -moz-box-shadow: 0 0 25px #666; -webkit-box-shadow: 0 0 25px #666; box-shadow: 0 0 25px #666; }

.vertical	{ width: 99.9%;position: absolute;	top:50%;left:0;height: 46%; border: 1px solid #ccc; border-bottom:1px solid #fff;overflow:auto; }
.horizontal	{ width: 49.9%;position: absolute;	top:55px;left:50%;height: 88%; border: 1px solid #ccc; border-left:1px solid #fff; border-bottom:1px solid #fff;overflow:auto; }
.fade	{ opacity:0.5; filter:Alpha(opacity=50); }

.Editor { position: absolute;left:0;top: 55px;width: 50%;height: 88%;float:left;border: 1px solid #ccc; border-bottom:1px solid #fff;overflow:auto;	}
.edit-window-full { position: absolute; top: 55px;	left: 0;width: 100%;height: 90%;overflow: hidden;background:red;}
.preview-window-full {	overflow:auto;position: absolute;left:0;top: 55px;width: 100%;height: 88%;	border: none; }

.activeline { background: #e8f2ff !important; }


.sticky-scroll-switch	{ float:right;position:relative;top:8px;left:-30px;padding-left:30px; }


.rounded-corner { -moz-border-radius: 5px; -webkit-border-radius: 5px;  -o-border-radius: 5px; border-radius: 5px; }
.no-bullets 	{ list-style-type:none; }
.field-shadow	{ -moz-box-shadow:0 0 20px #333;	-webkit-box-shadow:0 0 20px #333;	-o-box-shadow:0 0 20px #333; -box-shadow:0 0 20px #333; }

.button-text	{ background:#000;padding:5px;color:#fff; }